<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-page">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Sub-header -->
    {% include 'date_and_time.html' %}

    <!-- Body -->
    <div class="bg-rect" style="align-items: center">
        <div class="anl-div" style="display: flex">
            <div class="anl-div-vertical">

                <!-- Number of defects for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ defects_number_result }}</span>
                    <span class="anl-div-vertical-ind-text font-alata">Number of Defects</span>
                </div>

                <!-- Percentage of defects for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ percentage_defect }}%</span>
                    <span class="anl-div-vertical-ind-text font-alata">Percentage of Defects</span>
                </div>

                <!-- Number of produced panels for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ produced_panels_result }}</span>
                    <span class="anl-div-vertical-ind-text font-alata">Produced Panels</span>
                </div>
            </div>

            <div class="anl-div-horizontal">

                <!-- Bar chart of the number of defects per day for the select time period -->
                <div class="anl-div-horizontal-ind" style="height: 70%; margin-top: 8%; align-items: center;">
                    <canvas id="defectsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>

<script src="{{ url_for('static', filename='javascript/get_current_date_time.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/update_date_time.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/selected_data_time_analytics.js') }}"></script>

<script>
    // Extract dates and defect counts
    var defectData = JSON.parse('{{ defects_number_per_day_results | tojson | safe }}');
    var dates = defectData.map(function(item) {
        return item[0];
    });
    var counts = defectData.map(function(item) {
        return item[1];
    });

    // Bar chart
    var ctx = document.getElementById('defectsChart').getContext('2d');

    var defectsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Nº of Defects',
                data: counts,
                backgroundColor: '#0077DF',
                borderRadius: 5,
            }]
        },
        options: {

            responsive: true,
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    grid: {
                        display: false
                    },
                    ticks: {
                        callback: function(value, index, values) {
                            if (Number.isInteger(value)) {
                                return value;
                            }
                        }
                    }
                }
            },

            plugins: {
                legend: {

                    display: true,
                    position: 'right',
                    labels: {
                        boxWidth: 10,
                        padding: 20,
                        font: {
                            family: "'Roboto', sans-serif",
                            size: 12,
                        }
                    }
                }
            },
        }
    });
</script>

</html>
