<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-page">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Sub-header -->
    {% include 'date_and_time.html' %}

    <!-- Body -->
    <div class="bg-rect" style="align-items: center">
        <div class="anl-div" style="display: flex">
            <div class="anl-div-vertical">

                <!-- Number of defects for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ defects_number_result }}</span>
                    <span class="anl-div-vertical-ind-text font-alata">Number of Defects</span>
                </div>

                <!-- Percentage of defects for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ percentage_defect }}%</span>
                    <span class="anl-div-vertical-ind-text font-alata">Percentage of Defects</span>
                </div>

                <!-- Number of produced panels for the selected time period -->
                <div class="anl-div-vertical-ind">
                    <span class="anl-div-vertical-ind-num font-alatsi">{{ produced_panels_result }}</span>
                    <span class="anl-div-vertical-ind-text font-alata">Produced Panels</span>
                </div>
            </div>

            <div class="anl-div-horizontal">

                <!-- Current production line status -->
                <div class="anl-div-horizontal-ind" style="margin-top: 2.5%">
                    <span class="production-status-text font-alata">PRODUCING</span>
                    <span class="anl-div-vertical-ind-text font-alata">Production Line Status</span>
                </div>

                <!-- Bar chart of the number of defects per day for the select time period -->
                <div class="anl-div-horizontal-ind" style="height: 59%; margin-top: 1%">
                    <canvas id="defectsChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>

<script src="{{ url_for('static', filename='get_current_date_time.js') }}"></script>
<script src="{{ url_for('static', filename='update_date_time.js') }}"></script>
<script>
    initializeDateTimeUpdate("update-analytics");
</script>
<script>
    // Get the data from {{defects_number_per_day_results}}
    const defectsData = JSON.parse("{{defects_number_per_day_results | tojson | safe}}");

    // Extract labels and values from the data
    const labels = Object.keys(defectsData);
    const values = Object.values(defectsData);

    // Create a bar chart
    const ctx = document.getElementById("defectsChart").getContext("2d");
    const defectsChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: labels,
            datasets: [{
                label: "Defects per Day",
                data: values,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 1,
            }, ],
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                    },
                }, ],
            },
        },
    });
</script>

</html>
