<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-page">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Buttons to switch dashboard pages -->
    <div class="dashboard-buttons-container">

        <!-- Optimization dashboard -->
        <div>
            <a href="{{ url_for('open_dashboard_optimization') }}" style="text-decoration: none">
                <span class="font-alata dashboard-button">Optimization</span>
            </a>
        </div>

        <!-- Explanation dashboard -->
        <div>
            <a href="{{ url_for('open_dashboard_explanation') }}" style="text-decoration: none">
                <span class="font-alata dashboard-button-selected">Explanation</span>
            </a>
        </div>
    </div>

    <!-- Current date and time -->
    <div class="date-time font-alata" id="dateTimeDisplay"></div>

    <!-- Body -->

    <div class="bg-rect" style="text-align: center; justify-content: center">
        <div style="display: flex; flex-direction: column">

            <!-- Title and text -->
            <div style="margin-top: 1%; width: 100%; margin-bottom: 1.5%">
                <span class="font-alata" style="margin-top: 2%; font-size: 35px; color: #7247ff">
                    Gain insight into the model’s latest prediction! <br />
                </span>

                <span class="font-alata" style="font-size: 20px; color: #04218b">
                    Hover over the graphs for detailed explanations
                </span>
            </div>

            <!-- Images container -->

            <div style="display: flex; justify-content: center; margin-top: 3%">
                <div style="display: flex">
                    <div class="info-note-container">

                        {% if shap_fig == None %}
                        <!-- Blank plot -->
                        <img src="{{ url_for('static', filename='images/blank.png') }}" style="height: 380px;
                        margin-left: 2%; margin-right: 2%; cursor: pointer;" />

                        {% else %}
                        <!-- SHAP plot -->
                        <img id="shap_plot" src="{{ url_for('static', filename='images/shap_plot.png') }}"
                             style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer;"
                             onclick="openFullscreen('shap_plot')" />
                        {% endif %}

                        <!-- Note that appear on plot hover - SHAP -->
                        <span class="info-note-text font-roboto">
                            The <b>SHAP Mean Importance</b> <br />
                            graph highlights the most <br />
                            influential features <br />
                            contributing to predictions.
                        </span>
                    </div>

                    <div class="info-note-container">

                        {% if lime_fig == None %}
                        <!-- Blank plot -->
                        <img src="{{ url_for('static', filename='images/blank.png') }}" style="height: 380px;
                        margin-left: 2%; margin-right: 2%; cursor: pointer;" />

                        {% else %}
                        <!-- LIME plot -->
                        <img id="lime_plot" src="{{ url_for('static', filename='images/lime_plot.png') }}"
                             style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer;"
                             onclick="openFullscreen('lime_plot')" />
                        {% endif %}

                        <!-- Note that appear on plot hover - LIME -->
                        <span class="info-note-text font-roboto" style="width: 200px; height: 85px; justify-content: center">

                            The <b>LIME Plot</b> reveals the<br />
                            rules guiding predictions, <br />
                            showing how features <br />
                            values impact outcomes in <br />
                            the specific scenario

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

</body>

<script src="{{ url_for('static', filename='javascript/fullscreen_image.js') }}"></script>
<!--<script src="{{ url_for('static', filename='javascript/page_reload.js') }}"></script>-->
<script src="{{ url_for('static', filename='javascript/update_date_time.js') }}"></script>

</html>
