<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body class="bg-page bd">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Buttons to switch dashboard pages -->
    <div class="dashboard-buttons-container">

        <!-- Optimization dashboard -->
        <div class="dashboard-buttons-container-div-selected ">
            <a href="{{url_for('open_dashboard_optimization')}}" style="text-decoration: none;">
                <span class="font-alata dashboard-button-selected"> Optimization </span>
            </a>
        </div>

        <!-- Only allows to go to the explanation page when the product is likely to be a defect -->
        <!-- Since the XAI models are set to explain the reason why the sample was predicted -->
        <!-- to be in the defect class (1) -->
        {% if explanation == 1 %}
        <div class="dashboard-buttons-container-div ">
            <a href="{{url_for('open_dashboard_explanation')}}" style="text-decoration: none;">
                <span class="font-alata dashboard-button" style="left:35px"> Explanation </span>
            </a>
        </div>
        {% else %}
        <div>
            <a  href="{{url_for('open_dashboard_explanation')}}" style="text-decoration: none;">
                <span class="font-alata dashboard-button">   </span>
            </a>
        </div>
        {% endif %}

    </div>

    <div class="date-time font-alata" id="dateTimeDisplay">
    </div>


    <!-- Body -->

    <div class="bg-rect">

        <div class="optim-div" style="left: 2%">

            <!-- Current values (before optimization) -->

            <!-- Current defect probability -->
            <div class="optim-div-big font-alata">
                <span class="optim-div-big-text">
                    Defect Probability <br/>
                    of Current Panel
                </span>

                <span class="optim-div-big-num font-alatsi" style="color:{% if prediction | int > 50 %}#ea4646{% else %}#48D706{% endif %};">
                    {{prediction}}%
                </span>


            </div>

            <div class="optim-sub-div font-alata">

                <!-- Current upper plate temperature -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Upper Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_upt}} <span style="font-size: 15px;"> °C </span> </span>
                </div>

                <!-- Current pressure -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Pressure </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_pressure}} <span style="font-size: 15px;"> Pa </span> </span>
                </div>

                <!-- Current cycle time -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_ct}} <span style="font-size: 15px;"> s </span> </span>
                </div>


            </div>

            <div class="optim-sub-div font-alata">

                <!-- Current lower plate temperature -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Lower Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_lpt}} <span style="font-size: 15px;"> °C </span> </span>
                </div>

                <!-- Current thermal cycle time -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Thermal Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_tct}} <span style="font-size: 15px;"> s </span> </span>
                </div>

                <!-- Current mechinal cycle time -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Mechanical Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_mct}} <span style="font-size: 15px;"> s </span> </span>
                </div>

            </div>
            <div class="optim-sub-div font-alata">

                <!-- Current carriage speed -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Carriage Speed </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_cs}} <span style="font-size: 15px;"> rpm </span></span>
                </div>

                <!-- Current length -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Scraping Cycle </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_sc}} <span style="font-size: 15px;"> s </span> </span>
                </div>

                <!-- Current length -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Transverse Saw Cycle </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_tsc}} <span style="font-size: 15px;"> s </span> </span>
                </div>

            </div>

            <div class="optim-sub-div font-alata">

                <!-- Current Press Input Table Speed  -->
                <div class="optim-div-small" >
                    <span class="optim-div-small-text"> Press Input Table Speed </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_pits}} <span style="font-size: 15px;"> rpm </span></span>
                </div>

                <div class="optim-div-small" style="background-color: transparent; box-shadow:none;">
                </div>

                <div class="optim-div-small" style="background-color: transparent; box-shadow:none;">
                </div>


            </div>
        </div>

        <!-- Values after optimization  -->

        <div class="optim-div" style="left: 9.3%">
            <div class="optim-div-big font-alata">

                <!-- The phase displayed on the UI changes in accordance to the sample -->
                <span class="optim-div-big-text">
                    {{optim_phrase}}
                </span>


                <!-- While the optimization model is running, loading images appear -->
                <!-- When the model finishes, the values after the optimization are displayed -->

                <!-- Defect score after optimization -->
                <span class="optim-div-big-num font-alatsi" style="color:{% if defect_score_after_optim | int > 50 %}#ea4646{% else %}#48D706{% endif %};">
                    {% if defect_score_after_optim != "load" %}
                    {{ defect_score_after_optim }}%
                    {% else %}
                    <div class="load-img-container">
                        <img class="load-img"  src="{{ url_for('static', filename='images/loading.gif') }}">
                    </div>
                    {% endif %}
                </span>
            </div>

            <div class="optim-sub-div font-alata">

                <!-- Upper plate temperature after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Upper Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if upt_after_optim != "load" %}
                        {{ upt_after_optim }}<span style="font-size: 15px;"> °C </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Pressure after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Pressure </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if pressure_after_optim != "load" %}
                        {{ pressure_after_optim }} <span style="font-size: 15px;"> Pa </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Cycle time after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if ct_after_optim != "load" %}
                        {{ ct_after_optim }} <span style="font-size: 15px;"> Pa </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

            </div>

            <div class="optim-sub-div font-alata">

                <!-- Lower plate temperature after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Lower Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if lpt_after_optim != "load" %}
                        {{ lpt_after_optim }} <span style="font-size: 15px;"> °C </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>

                </div>

                <!-- Thermal cycle time after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Thermal Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if tct_after_optim != "load" %}
                        {{ tct_after_optim }} <span style="font-size: 15px;"> s </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Mechanical cycle time after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Mechanical Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if mct_after_optim != "load" %}
                        {{ mct_after_optim }} <span style="font-size: 15px;"> s </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

            </div>

            <div class="optim-sub-div font-alata">

                <!-- carriage speed after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Carriage Speed </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if cs_after_optim != "load" %}
                        {{ cs_after_optim }} <span style="font-size: 15px;"> rpm </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>

                </div>

                <!-- Scrapping cycle after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Scrapping Cycle </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if sc_after_optim != "load" %}
                        {{ sc_after_optim }} <span style="font-size: 15px;"> s </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Transverse saw cycle after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Transverse Saw Cycle </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if tsc_after_optim != "load" %}
                        {{ tsc_after_optim }} <span style="font-size: 15px;"> s </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

            </div>


            <div class="optim-sub-div font-alata">

                <!-- Press Input Table Speed after optimization -->
                <div class="optim-div-small" >

                    <span class="optim-div-small-text"> Press Input Table Speed </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if pits_after_optim != "load" %}
                        {{ pits_after_optim }} <span style="font-size: 15px;"> rpm </span>

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Difference between defect score before and after optimization -->
                <div class="reduce-div">

                    <span class="optim-div-big-text" style="font-size: 15px;">
                        <div style="margin-left: 2%; margin-top:-3%;">
                            By Adjusting the Parameters, <br>
                            <span style="color:#0077DF; font-weight: bolder" >    Reduce Defect Probability</span>
                            <br>    Up To
                        </div>

                    </span>

                    <span class="optim-div-big-num font-alatsi" style="color:#031A6B; font-size: 40px; margin-left: 230px; padding: 0; margin-top:-4.5%;">
                        {% if reduce_percentage != "load" %}
                        {{ reduce_percentage }}%
                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>

                </div>

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

</body>

<script src="{{ url_for('static', filename='javascript/page_reload.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/update_date_time.js') }}"></script>

</html>
