<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body class="bg-page bd">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Buttons to switch dashboard pages -->
    <div class="dashboard-buttons-container">

        <!-- Optimization dashboard -->
        <div class="dashboard-buttons-container-div-selected ">
            <a href="{{url_for('open_dashboard_optimization')}}" style="text-decoration: none;">
                <span class="font-alata page-buttons"> Optimization </span>
            </a>
        </div>

        <!-- Only allows to go to the explanation page when the product is likely to be a defect -->
        <!-- Since the XAI models are set to explain the reason why the sample was predicted -->
        <!-- to be in the defect class (1) -->
        {% set prediction_int = prediction | int %}
        {% if (prediction_int >= 50 and explanation == 1) %}

        <div class="dashboard-buttons-container-div ">
            <a href="{{url_for('open_dashboard_explanation')}}" style="text-decoration: none;">
                <span class="font-alata page-buttons"> Explanation </span>
            </a>
        </div>

        {% else %}
        <div></div>

        {% endif %}
    </div>

    <div class="date-time font-alata" id="dateTimeDisplay">
    </div>


    <!-- Body -->

    <div class="bg-rect">

        <div class="optim-div" style="left: 5%">

            <!-- Current values (before optimization) -->

            <!-- Current defect probability -->
            <div class="optim-div-big font-alata">
                <span class="optim-div-big-text">
                    Defect Probability <br/>
                    of Current Panel
                </span>

                <span class="optim-div-big-num font-alatsi">
                    {{prediction}}%
                </span>
            </div>

            <div class="optim-sub-div font-alata">

                <!-- Current upper plate temperature -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Upper Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_upt}}°C </span>
                </div>

                <!-- Current pressure -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Pressure </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_pressure}}Pa </span>
                </div>
            </div>

            <div class="optim-sub-div font-alata">

                <!-- Current lower plate temperature -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Lower Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_lpt}}°C </span>
                </div>

                <!-- Current thermal cycle time -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Thermal Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_tct}}s </span>
                </div>
            </div>
            <div class="optim-sub-div font-alata">

                <!-- Current width -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Width </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_width}} </span>
                </div>

                <!-- Current length -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Length </span>

                    <span class="optim-div-small-num font-alatsi"> {{current_length}} </span>
                </div>
            </div>
        </div>

        <!-- Values after optimization  -->

        <div class="optim-div" style="left: 15%">
            <div class="optim-div-big font-alata">

                <!-- The phase displayed on the UI changes in accordance to the sample -->
                <span class="optim-div-big-text">
                    {{optim_phrase}}
                </span>


                <!-- While the optimization model is running, loading images appear -->
                <!-- When the model finishes, the values after the optimization are displayed -->

                <!-- Defect score after optimization -->
                <span class="optim-div-big-num font-alatsi" style="color:#48D706;">
                    {% if defect_score_after_optim != "load" %}
                    {{ defect_score_after_optim }}%
                    {% else %}
                    <div class="load-img-container">
                        <img class="load-img"  src="{{ url_for('static', filename='images/loading.gif') }}">
                    </div>
                    {% endif %}
                </span>
            </div>

            <div class="optim-sub-div font-alata">

                <!-- Upper plate temperature after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Upper Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if upt_after_optim != "load" %}
                        {{ upt_after_optim }}°C

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

                <!-- Pressure after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Pressure </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if pressure_after_optim != "load" %}
                        {{ pressure_after_optim }}Pa

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>

            </div>

            <div class="optim-sub-div font-alata">

                <!-- Lower plate temperature after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Lower Plate Temperature </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if lpt_after_optim != "load" %}
                        {{ lpt_after_optim }}°C

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>

                </div>

                <!-- Thermal cycle time after optimization -->
                <div class="optim-div-small">
                    <span class="optim-div-small-text"> Thermal Cycle Time </span>

                    <span class="optim-div-small-num font-alatsi" style="color:#805AFF;">
                        {% if tct_after_optim != "load" %}
                        {{ tct_after_optim }}s

                        {% else %}
                        <div class="load-img-container">
                            <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                        </div>
                        {% endif %}
                    </span>
                </div>
            </div>

            <!-- Difference between defect score before and after optimization -->
            <div class="optim-div-big font-alata">

                <span class="optim-div-big-text" style="font-size: 20px; margin-top: 2%;">
                    By Adjusting the Parameters,
                    <span style="color:#805AFF;">Reduce Defect Probability</span> Up To
                </span>

                <span class="optim-div-big-num font-alatsi" style="color:#805AFF;">
                    {% if reduce_percentage != "load" %}
                    {{ reduce_percentage }}%
                    {% else %}
                    <div class="load-img-container">
                        <img class="load-img" src="{{ url_for('static', filename='images/loading.gif') }}">
                    </div>
                    {% endif %}
                </span>

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

</body>

<script src="{{ url_for('static', filename='javascript/page_reload.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/update_date_time.js') }}"></script>

</html>
