<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')  }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-page">
    <!-- **************************************************************** -->
    <!-- header -->
    <!-- **************************************************************** -->

    <!-- wave -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
      class="header"
    >
      <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color: hsla(209, 99%, 40%, 1)" />
          <stop offset="100%" style="stop-color: hsla(211, 100%, 28%, 1)" />
        </linearGradient>
      </defs>
      <path
        fill="url(#gradient)"
        fill-opacity="1"
        d="M0,256L80,261.3C160,267,320,277,480,277.3C640,277,800,267,960,245.3C1120,224,1280,192,1360,176L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
      ></path>
    </svg>

    <!-- logo and zdm -->

    <div class="header-logo-container">
      <img src="{{ url_for('static', filename='images/zdm_logo.png') }}"  class="header-logo-img" />
      <span class="header-logo-text font-alatsi"> ZDM </span>
    </div>

    <div class="line"></div>

    <!-- buttons to switch pages -->

    <div class="page-buttons-container">
    <div class="page-buttons-container-div-selected">
        <a href=href="{{url_for('open_dashboard_optimization')}}" style="text-decoration: none">
            <span class="font-alata page-buttons"> Dashboards </span>
        </a>
    </div>

    <div class="page-buttons-container-div">
        <a href="{{url_for('open_analytics')}}" style="text-decoration: none">
            <span class="font-alata page-buttons"> Analytics </span>
        </a>
    </div>

    <div class="page-buttons-container-div">
        <a href="{{url_for('open_historic_data')}}" style="text-decoration: none">
            <span class="font-alata page-buttons"> Historic Data </span>
        </a>
    </div>
</div>

    <!-- **************************************************************** -->
    <!-- sub-header -->
    <!-- **************************************************************** -->

    <!-- buttons to switch dashvoard pages -->

    <div class="dashboard-buttons-container">

      <div class="dashboard-buttons-container-div ">

        <a href="{{url_for('open_dashboard_optimization')}}" style="text-decoration: none;"> <span class="font-alata page-buttons"> Optimization </span> </a>

      </div>

      <div class="dashboard-buttons-container-div-selected ">

        <a href="{{url_for('open_dashboard_explanation')}}"style="text-decoration: none;"> <span class="font-alata page-buttons"> Explanation </span> </a>

      </div>



    </div>


    <div class="date-time font-alata">
      21st march 2024 <br />
      21:02:47
    </div>

    <!-- **************************************************************** -->
    <!-- body -->
    <!-- **************************************************************** -->

    <!-- rectangle panel -->

    <div class="bg-rect" style="text-align: center; justify-content: center">
      <div style="display: flex; flex-direction: column">
        <!-- Text container -->

        <div style="margin-top: 1%; width: 100%; margin-bottom: 1.5%">
          <span
            class="font-alata"
            style="margin-top: 2%; font-size: 35px; color: #7247ff"
          >
            Gain insight into the model’s latest prediction! <br />
          </span>

          <span class="font-alata" style="font-size: 20px; color: #04218b">
            Hover over the graphs for detailed explanations
          </span>
        </div>

        <!-- Plots container -->

        <div style="display: flex; justify-content: center; margin-top: 3%;">
          <!-- Plots -->
          <div style="display: flex">

            <div class="tooltip-container">

                {% if shap_fig == None %}

                <img
                src="{{ url_for('static', filename='images/blank.png') }}"
                style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer"
              />

                {% else %}

              <img
                id="shap_plot"
                src="{{ url_for('static', filename='images/shap_plot.png') }}"
                style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer"
                onclick="openFullscreen('shap_plot')"
              />

                {% endif %}

              <span class="tooltip-text font-roboto">
                The <b> SHAP Mean Importance </b> <br />
                graph highlights the most <br />
                influential features <br />
                contributing to predictions.</span
              >
            </div>

            <div class="tooltip-container">


                {% if lime_fig == None %}

                <img
                src="{{ url_for('static', filename='images/blank.png') }}"
                style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer"
              />

                {% else %}



              <img
                id="lime_plot"
                src="{{ url_for('static', filename='images/lime_plot.png') }}"
                style="height: 380px; margin-left: 2%; margin-right: 2%; cursor: pointer"
                onclick="openFullscreen('lime_plot')"
              />

                {% endif %}

              <span class="tooltip-text font-roboto" style="width: 200px; height: 85px; justify-content: center;">
    
                The <b> LIME Plot </b> reveals the<br />
                rules guiding predictions, <br />
                showing how features <br />
                values impact outcomes in <br />
                the specific scenario
    
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- **************************************************************** -->
    <!-- footer -->
    <!-- **************************************************************** -->

    <div class="bg-ellipse">
      <svg viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
        <ellipse
          cx="100"
          cy="50"
          rx="100"
          ry="50"
          fill="#0168CA"
          fill-opacity="1"
        />
      </svg>
    </div>
  </body>

  <script>
    function openFullscreen(imageId) {
      var elem = document.getElementById(imageId);

      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.mozRequestFullScreen) {
        /* Firefox */
        elem.mozRequestFullScreen();
      } else if (elem.webkitRequestFullscreen) {
        /* Chrome, Safari and Opera */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) {
        /* IE/Edge */
        elem.msRequestFullscreen();
      }
    }
  </script>
</html>
