<!--Displays the date and the time on the Analytics and Historic Data pages-->
<!--Allows the users to click on the values and enter the value that they want - allows to filter by time -->

<div class="date-time font-alata" style="display: flex; width: 30%; right: 1.75%">

    <!-- From date and time-->
    <div style="left: 10%; display: flex; flex-direction: row; width: 50%">
        <div>From</div>
        <div style="position: relative; left: 5%; top: -30%; display: flex; flex-direction: column; align-items: right;">
            <br />
            <input type="date" value="2024-03-21" class="date-time-selector font-alata" id="dateInput1" />
            <input type="time" value="21:02:47" class="date-time-selector font-alata" id="timeInput1" />
        </div>
    </div>

    <!-- To date and time-->
    <div style="left: 10%; display: flex; flex-direction: row; width: 50%">
        <div>To</div>
        <div style="position: relative; left: 5%; top: -30%; display: flex; flex-direction: column; align-items: right;">
            <br />
            <input type="date" value="2024-03-21" class="date-time-selector font-alata" id="dateInput2" />
            <input type="time" value="21:02:47" class="date-time-selector font-alata" id="timeInput2" />
        </div>
    </div>

</div>
