<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')  }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-page">

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Buttons to switch pages -->
    {% include 'page_buttons.html' %}

    <!-- Sub-header -->
    {% include 'date_and_time.html' %}

    <!-- Body -->
    <div class="bg-rect" style="text-align: center; justify-content: center">

      <!-- Data table -->
      <table class="font-alata">

        <!-- Table header -->
        <thead class="table-head">
          <tr>
            <th><div >Recording Date</div></th>
            <th><div>Defect Prediction</div></th>
            <th><div>Upper Plate Temperature</div></th>
            <th><div>Lower Plate Temperature</div></th>
            <th><div>Thermal Cycle Time</div></th>
            <th><div>Width</div></th>
            <th><div>Length</div></th>
            <th><div>Pressure</div></th>
          </tr>
        </thead>

        <!-- Table body (dynamic) -->
        <tbody class="table-body">
          <div class="table-body-container">
            {% for sample in historic_data %}
            <tr>
              <td><div class="table-body-div">{{ sample[0] }}</div></td>  <!-- Recording rate -->
              <td><div class="table-body-div">{{ sample[1] }}</div></td>  <!-- Defect prediction -->
              <td><div class="table-body-div">{{ sample[2] }}</div></td>  <!-- Upper plate temperature -->
              <td><div class="table-body-div">{{ sample[3] }}</div></td>  <!-- Lower plate temperature -->
              <td><div class="table-body-div">{{ sample[4] }}</div></td>  <!-- Thermal cycle time -->
              <td><div class="table-body-div">{{ sample[5] }}</div></td>  <!-- Width -->
              <td><div class="table-body-div">{{ sample[6] }}</div></td>  <!-- Length -->
              <td><div class="table-body-div">{{ sample[7] }}</div></td>  <!-- Pressure -->
            </tr>
            {% endfor %}
          </div>
        </tbody>

      </table>

      <!-- Button to download all the data with all the feature from the selected time period -->
      <!-- Since it would be too dense to display on the UI -->
      <!-- The button is only shown if there is data for that time period data -->
      {% if csv_done == 1%}

        <button id="download-button" class="download-button font-alata">
          Download data with all <br />
          features as CSV
        </button>

      {% else %}
      <div></div>

      {% endif %}
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}

  </body>

  <script src="{{ url_for('static', filename='update_date_time.js') }}"></script>

  <script>
      initializeDateTimeUpdate('update-historic-data');
  </script>

  <script src="{{ url_for('static', filename='csv_download.js') }}"></script>

  <script src="{{ url_for('static', filename='get_current_date_time.js') }}"></script>

</html>
